# Analysis of historic Irish weather

## Author: Joanna Mnich

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Load data set
url = "https://www.met.ie/climate/available-data/historical-data"

file_path = "StationDetails.csv"

df = pd.read_csv("StationDetails.csv",  on_bad_lines='skip')
df.head(4)

,county,station name,name,height(m),easting,northing,latitude,longitude,open year,close year
0,Antrim,5880,LH_RATHLIN_WEST,10,309200,451800,55.30083,-6.28028,2000,(null)
1,Carlow,4415,TULLOW (Waterworks),76,284700,173400,52.80528,-6.74306,1985,(null)
2,Carlow,2414,BORRIS G.S.,85,272400,150700,52.60278,-6.93056,1944,1991
3,Carlow,1214,CARLOW (SUGAR FACTORY),58,272200,178400,52.85139,-6.92778,1953,1960